/* #btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#conteiner {
  display: flex;
  padding-left: 30px;
  background-color: aqua;
  cursor: pointer;
}
.color-toggle {
  color: red;
} */

/* .hidden {
  display: none;
}
#wrapper {
  display: flex;
  gap: 20px;
}

#wrapper > div {
  padding: 20px;
  border: 1px solid black;
  min-width: 300px;
  min-height: 500px;
  cursor: pointer;
} */

/* #parents {
  display: flex;
  gap: 20px;
  border: 3px solid black;
  padding: 20px;
  width: fit-content;
} */

#btn1 {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#btn2 {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* #btn3 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */
